
.header-container {
    font-family: 'Rammetto One', cursive !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    text-align: justify;
    background-color: #FFFDFD;
    padding-bottom: 2%;
    padding-top: 5%;
    color:white;
}

.header-h2 {
    margin-top: 30%;
    
}

.header-p {
    max-width: 85vw;
}

@media screen and (min-width: 1000px) {
    .header-container {
        justify-content: start;
        align-items: flex-start;
        text-align: center;
        padding-top: 3%;
    }

    .intro-p {
        max-width: 450px;
    }
}

.add-location-container{
    padding-top: 0;
    padding-bottom: 0;
    
}

.intro-h2{
    font-family: 'Rammetto One', cursive;
    font-size: 25px;
    color: #284B63;
    margin-top: 40%;

    
}

.MenuIcon {

    color: #284B63;
    font-size: 40px;
}

a:visited {

    color: black;
} 