
p{
   
    font-size: 15px !important;
    text-align: center !important;

}


h1 {
    text-align: center;
    padding-top: 20%;
}

h4 {
    text-align: center;
    word-wrap: break-word;
}

.loginRegister {
    
    position: absolute !important;
    width: 300px !important ;
    height: 45px !important;
    align-items: center !important;
    justify-content: center !important;
    
}

.loginButton {

    text-align: center;
    justify-content: center !important;
    text-decoration: underline bold !important;
    color: black !important;

}
.registerButton {

    text-align: center;
    text-decoration: underline bold !important;
    text-decoration-color: black;
    color: black !important;

}

.loginForm {

    padding: 100px 250px !important;
    width: 700px;
    font-size: 20px;
    justify-content: space-around !important;
    font-family:'ABeeZee' !important ;
    size: 300% !important;
    
}

.loginButton2 {

    font-family:'ABeeZee' !important ;
    background-color: #284B63 !important;
    border-color: #284B63 !important;
    color: white !important;
    width: 200px !important;
    align-items: center !important;
    text-align: center !important;
    size: 300% !important;
}

.header-container {
    font-family: 'Rammetto One', cursive !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: flex !important;
    text-align: center !important;
    background-color: #FFFDFD !important;
    padding-bottom: 2% !important;
    padding-top: 5% !important;
    color:white !important;
}
